@import url("https://use.typekit.net/zft7xwb.css");

/* Remove initial padding and margin. Set default background color. */
html,
body {
    margin: 0;
    padding: 0;
}

/* Set font to Open Sans. */
body {
  font-family: open-sans, sans-serif;
  font-weight: 700;
  font-style: normal;
  background-color: #F1F8FD;
}

/* Add width to prevent overflow for images. */
img {
  max-width: 100%;
}

/* Adjust font size for contrast against heading text. */
p {
  font-family: open-sans-condensed, sans-serif;
  font-weight: 300;
  font-style: normal;
  font-size: .85rem;
}

/* Add spacing to left/right of all content. Align to center horizontally. */
.menu {
  width: 80vw;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* Add top margin to title */
.title {
  margin-top: 3rem;
}

/* Add letter spacing for clarity. */
.title {
  letter-spacing: 1px;
}

/* Add a golden underline to menu title. */
.underline {
  width: 5rem;
  height: .25rem;
  background: #c59d5f;
  margin: 0 auto 1.5rem;
}

/* Adjust margin on larger viewports. */
@media screen and (min-width: 600px) {
  .underline {
    margin-bottom: 2rem;
  }
}

/* Adjust margin below button group. */
.btns {
  margin-bottom: 1.5rem;
}

/* Adjust margin below button group at larger viewports. */
@media screen and (min-width: 600px) {
  .btns {
    margin-bottom: 2rem;
  }
}

/* Adjust aesthetic of buttons to match similar projects. */
.filter-btn {
  background-color: transparent;
  color: #c59d5f;
  border-color: #c59d5f;
  border-radius: 5px;
  font-size: 1rem;
  padding: 5px 10px;
}

/* Adjust margin between buttons. */
.filter-btn:not(:last-child) {
  margin-right: 5px;
}

/* Add background color when button mouseover. */
.filter-btn:hover {
  color: white;
  background-color: #A68E6A;
}

/* Adjust layout to two columns at a larger viewport. */
@media screen and (min-width: 600px) {
  .content {
    width: 90vw;
    display: grid;
    grid-template-columns: 40% 40%;
    justify-content: space-around;
  }
}

/* Fix content width at very large viewports. */
@media screen and (min-width: 1200px) {
  .content {
    width: 900px;
  }
}

/* Set default display for items. */
.menu-item {
  display: flex;
  flex-direction: column;
  margin-bottom: 1.5rem;
}

/* Hide all items with given class. */
.hide-menu-item {
  display: none;
}

/* Fix photo height and add golden border. */
.photo {
  height: 200px;
  border: 4px solid #c59d5f;
  border-radius: 5px;
}

/* Adjust photo height at very large viewports. */
@media screen and (min-width: 1200px) {
  .photo {
    height: 150px;
  }
}

/* Set display for menu heading. Add border to separate heading from text. */
.menu-heading {
  display: flex;
  justify-content: space-between;
  letter-spacing: 1px;
  border-bottom: 1px solid #DFE6EB;
}

/* Change price color to match border aesthetic. */
.price {
  color: #A68E6A;
}